.container-xs {
  // max-width: 700px;
  // @media (max-width: $extra-small) {
  //   background-color: blue;
  // }
}

// $extra-small: 700px; xs
// $small: 200px; s
// $medium: 400px; m
// $large: 500px; l
// $extra-large: 1000px; xl
