#app {
  --light-brown: #fffdf9;
  --brown: #f9f6f2;
  --dark-brown: #f1eae0;

  --white: white;

  --lightest-grey: #f9f9f9;
  --light-grey: #d9d9d9;
  --grey: #9b9b9b;
  --dark-grey: #5e5e5e;
  --black: #000;

  --prim-1000: #003e46;
  --prim-900: #00535d;
  --prim-800: #006875;
  --prim-700: #007d8c; //main
  --prim-600: #00999f;
  --prim-500: #00b5b3;
  --prim-400: #00d0c6;
  --prim-300: #00ecd9; //main
  --prim-200: #68f4e8;
  --prim-100: #b0f8f0;
  --prim-50: #d0fcf7;

  --secondary: #6200ee;
  --secondary-dark: #5100c5;
  --secondary-darkest: #41009e;

  --purple: #021343;
  --light-blue: #dfefff;
  --yellow: #fff400;
}

/* Element UI */
$--color-primary: #021343;
$--color-secondary: #dfefff;
$--color-info: #fff400;

/* change icon font path variable, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import '~element-ui/packages/theme-chalk/src/index';
